.fishieFixer{
   scale: 15%;
    position: relative;
    top: 100px;
    left: 700px;
}

.firstDown{
    scale: 45%;
    position: relative;
    top: -600px;
    left: 450px;
}

.firstUp{
    scale: 45%;
    position: relative;
    top: -3680px;
    left: 300px;
}

.secondDown{
    scale: 45%;
    position: relative;
    top: -1625px;
    left: -50px;
}

.secondUp{
    scale: 45%;
    position: relative;
    top: -4710px;
    left: -200px;
}

.thirdDown{
    scale: 45%;
    position: relative;
    top: -2658px;
    left: -560px;
}

.thirdUp{
    scale: 45%;
    position: relative;
    top: -5740px;
    left: -715px;
}