.fishieFixer{
   scale: 15%;
    position: relative;
    top: 100px;
    left: 700px;
}

.firstDown{
    scale: 45%;
    position: relative;
    top: -600px;
    left: 450px;
}

.firstUp{
    scale: 45%;
    position: relative;
    top: -3680px;
    left: 300px;
}

.secondDown{
    scale: 45%;
    position: relative;
    top: -1625px;
    left: -250px;
}

.secondUp{
    scale: 45%;
    position: relative;
    top: -4710px;
    left: -400px;
}

.thirdDown{
    scale: 45%;
    position: relative;
    top: -2658px;
    left: -750px;
}

